.title-input {
  width: 61.938rem;
  height: 1.875rem;
}

.content-wrap {
  display: flex;
  width: 991px;
  flex-direction: column;
  margin-top: 35px;
}

.submit-btn {
  border: none;
  border-radius: 8px;
  width: 61px;
  height: 23px;
  flex-shrink: 0;

  align-self: flex-end;
  margin: 0px 8px 10px 0px;

  background-color: #4992ff;
  color: #fff;
  text-align: center;
  font-family: DM Serif Display;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 220% */
}

.content-textarea {
  width: 991px;
  height: 267px;
  flex-shrink: 0;
  resize: none;
}

.list-wrap {
  display: flex;
  width: 991px;
  justify-content: center;
  margin-top: 28px;
}

.list-btn {
  border: none;
  border-radius: 8px;
  background-color: #4992ff;
  color: #fff;
  width: 396px;
  height: 61px;

  text-align: center;
  font-family: DM Serif Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 165% */
}
