.footbar-container {
  display: flex;
  justify-content: space-between; /* 컴포넌트들이 양 끝까지 이동한다 */
  align-items: center;
  flex-wrap: wrap; /* 요소들이 화면 크기에 따라 다음 줄로 넘어가도록 설정한다 */
  width: 90rem;

  position: fixed;
  bottom: 0;

  @media screen and (max-width: 1440px) {
    width: 100%; /* 사이즈가 줄여나가면서 줄여나간 사이즈만큼 가로도 변한다*/
    justify-content: space-between; /* 요소들이 가운데에 위치하도록 설정한다 */
  }

  @media screen and (max-width: 650px) {
    width: 100%;
    flex-direction: column;
  }
}

.logo-wrap {
}

.logo-icon {
  display: flex; /* 로고 아이콘을 수평 정렬하기 위해 flex로 설정한다 */
  justify-content: space-between; /* 로고와 다른 요소 사이에 여백을 추가합니다. */

  margin-bottom: 17px; /* 로고 위쪽 마진을 추가하여 로고를 아래로 내립니다. */
  font-size: 15px;
}

.text-wrap {
  vertical-align: top;
  display: flex;
  flex-direction: column; /* 수직으로 배열하도록 설정한다 */
  align-items: center; /* 수직 중앙 정렬한다 */
}

.up,
.down {
  display: flex;
  font-size: 12px;
  line-height: 21px;
  color: #878e98;
  letter-spacing: -0.3px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 7px; /* 위 텍스트와 아래 텍스트 간의 간격을 조절한다*/
  white-space: nowrap;
}

.footer-item {
  display: inline-block;
  margin-right: 20px; /* 각 텍스트 사이에 간격을 조절한다 */
  white-space: nowrap; /* 텍스트 줄 바꿈 방지 */
}

.social-wrap {
  display: flex; /* 로고 아이콘을 수평 정렬하기 위해 flex 컨테이너로 설정합니다. */
  justify-content: space-between; /* 로고와 다른 요소 사이에 여백을 추가합니다. */

  margin-top: 15px; /* 로고 위쪽 마진을 추가하여 로고를 아래로 내립니다. */
  transform: translateX(-10px);

  @media screen and (max-width: 650px) {
    display: none;
  }
}

.social-icon {
  display: flex; /* 로고 아이콘을 수평 정렬하기 위해 flex 컨테이너로 설정합니다. */
  justify-content: space-between; /* 로고와 다른 요소 사이에 여백을 추가합니다. */

  margin-bottom: 17px; /* 로고 위쪽 마진을 추가하여 로고를 아래로 내립니다. */
  margin-right: 11px;
  font-size: 15px;
}
