.mid-top-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: 141px;
  margin: 43px 0px 0px 0px; /* 중앙 정렬을 위해 추가 */
  background: #6b7aff;

  @media screen and (max-width: 1190px) {
    width: 61.938rem;
  }

  @media screen and (max-width: 1000px) {
    width: 40rem;
  }

  @media screen and (max-width: 655px) {
    width: 25rem;
  }
}

.customer-center {
  width: 83px;
  height: 25px;

  font-size: 27px;
  line-height: 20px; /* 조정 */
  color: #ffffff;

  position: absolute;
  text-align: center; /* 텍스트 게시물을 중앙으로 정렬 */
  margin: 19px 0px 97px 0px;
}

.cisa-question {
  width: 180px;
  height: 30px;

  font-size: 16px;
  line-height: 33px; /* 조정 */
  color: #ffffff;

  position: absolute;
  text-align: center; /* 텍스트 게시물을 중앙으로 정렬 */
  margin: 44px 0px 67px 0px;
}

.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.move-page {
  display: flex;
  text-align: center;
}

.free,
.information {
  text-align: center;
  font-family: DM Serif Display;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 33px; /* 206.25% */

  @media screen and (max-width: 1190px) {
    height: 50px;
    width: 100%;
    margin: 0; /* 기존 마진 값 제거 */
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
}

.free {
  margin: 95px 40px 19px 479px;

  @media screen and (max-width: 1190px) {
    margin: 95px 42px 19px 0px;
  }
}

.free:hover {
  background-color: white;
  color: black;
}

.information {
  margin: 95px 479px 19px 4px;

  @media screen and (max-width: 1190px) {
    margin: 95px 0px 19px 42px;
    transform: translateX(-40px);
  }
}

.information:hover {
  background-color: blue;
  color: pink;
}

/* .faq,
.one-on-one-inquiry,
.announcement {
  width: 100px; 
  height: 30px; 
  font-size: 16px;
  line-height: 30px; 
  color: #ffffff;
  position: absolute;
  top: 220px;
} */

/* .faq {
  left: calc(35% - 50px); 
}

.one-on-one-inquiry {
  left: 46%; 
  transform: translateX(-50%); 
} */
